<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Форма </h1>
    <form method="post" enctype="multipart/form-data" action="/form/">
        {% csrf_token %}
        <label for="feedback-text">Відгук</label>
        <input id="feedback-text" type="text" name="text" required>

        <label for="feedback-grade">Оцінка</label>
        <input id="feedback-grade" type="number" name="grade" required>

        <label for="feedback-image">Фотографія</label>
        <input id="feedback-image" type="file" name="image">

        <input id="feedback-submit" type="submit">
    </form>
</body>
</html>